<div class="apartments">
	<%for (const apartment of apartments) { %>
	<div class="apartment">
		<p>Title: <%= apartment.title %></p>
		<p>Address: <%= apartment.address %></p>
		<div class="images">
			<%for (const image of apartment.images) { %>
			<img src="/image/<%= image %>" />
			<% } %>
		</div>
	</div>
	<% } %>
</div>
